<% provide(:title, "Sign in") %>
<div class="page-header">
  <h2>Sign in</h2>
</div>

<div class="span6 offset3" style="text-align:center">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="form-group col-md-6">
      <%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
    </div>

    <div class="btn-group">
      <%= f.submit "Sign in", class: "btn btn-default" %>
      <%= link_to "New user? Sign up now!", signup_path, class: "btn btn-default"  %>
    </div>

  <% end %>
</div>
