<div class="container">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <%= render 'shared/error_messages' %>

    <div class="row">
      <div class="field col-md-6">
        <%= f.label :firstname %><br>
        <%= f.text_field :firstname %>
      </div>
      <div class="field col-md-6">
        <%= f.label :lastname %><br>
        <%= f.text_field :lastname %>
      </div>
    </div>

    <div class="row">
      <div class="field col-md-6">
        <%= f.label :troop %><br>
        <%= f.number_field :troop %>
      </div>
      <div class="field col-md-6">
        <%= f.label :district %><br>
        <%= f.text_field :district %>
      </div>
    </div>

    <div class="row">
      <div class="field col-md-6">
        <%= f.label :phone %><br>
        <%= f.text_field :phone %>
      </div>
      <div class="field col-md-6">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>