<% provide(:title, "All Events") %>
<div class="page-header">
  <h1>
    MBU Events
    <%= link_to "Add an Event", new_event_path, class: "btn btn-lg btn-default pull-right"  %>
  </h1>
</div>

<div class="table-responsive">
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Year</th>
      <th>Semester</th>
      <th>Current?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.year %></td>
        <td><%= event.semester %></td>
        <td><%= event.current ? "Yes" : "No" %></td>
        <td><%= link_to 'Details', event %></td>
        <% if current_user.admin? %>
          <td><%= link_to "Edit", edit_event_path(event) %></td>
          <td><%= link_to "Delete", event, method: :delete, data: { confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>

    <% end %>
  </tbody>
</table>
