<%= form_for(@scout) do |f| %>
  <div class="form-group col-md-6">
    <%= f.label :firstname, "First Name" %>
    <%= f.text_field :firstname, class: "form-control", placeholder: "Enter scout's first name" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :lastname, "Last Name" %>
    <%= f.text_field :lastname, class: "form-control", placeholder: "Enter scout's last name" %>
  </div>
  <div class="actions">
    <%= f.submit "Save changes", class: "btn btn-default center-block" %>
  </div>
<% end %>