<%= form_for(@scout) do |f| %>
  <% if @scout.errors.any? %>
    <%= render 'shared/scout_error_messages' %>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Scout Information</h3>
    </div>
    <div class="panel-body">
      <div class="form-group col-md-6">
        <%= f.label :firstname, "First Name" %>
        <%= f.text_field :firstname, class: "form-control", placeholder: "Enter scout's first name" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :lastname, "Last Name" %>
        <%= f.text_field :lastname, class: "form-control", placeholder: "Enter scout's last name" %>
      </div>
        <div class="form-group col-md-6">
        <%= f.label :dob, "Date of Birth" %>
        <%= f.date_select :dob, class: "form-control", :order=>[:day, :month, :year], :start_year=>(Date.today.year-20), :end_year=>Date.today.year%>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :notes, "Anything else we should know?" %>
        <%= f.text_field :notes, class: "form-control", placeholder: "Allergies, dietary restrictions, etc." %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Emergency Contact Information</h3>
    </div>
    <div class="panel-body">
      <div class="form-group col-md-6">
        <%= f.label :emergency_name, "Name" %>
        <%= f.text_field :emergency_name, class: "form-control", placeholder: "Enter emergency contact's full name" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :emergency_relation, "Relationship to Scout" %>
        <%= f.text_field :emergency_relation, class: "form-control", placeholder: "Enter emergency contact's relationship to scout" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :emergency_phone, "Phone Number" %>
        <%= f.telephone_field :emergency_phone, class: "form-control", placeholder: "Enter emergency contact's phone number" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-default center-block" %>
  </div>
<% end %>

<%= form_for(@scout.preferences.build(scout_id: @scout.id)) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Preferred Courses</h3>
    </div>
    <div class="panel-body">
      <%= f.label :course_id, "Add a Preferred Course" %>
      <%= collection_select(:scout, :preferences, Course.all, :id, :name) %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-default center-block" %>
  </div>
<% end %>
