<p id="notice"><%= notice %></p>
<% debug provide(:title, "#{@scout.firstname} #{@scout.lastname}") %>

<div class="page-header">
    <h1>Details about <%= @scout.firstname %> <%= @scout.lastname %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Scout information 
      <%= link_to 'Edit Scout Information', edit_scout_path(@scout), class: "btn btn-xs btn-default pull-right" %> </h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>First Name:</strong>
      <%= @scout.firstname %>
    </p>

    <p>
      <strong>Last Name:</strong>
      <%= @scout.lastname %>
    </p>

    <p>
      <strong>Coordinator Name:</strong>
      <%= "#{@scout.user.firstname} #{@scout.user.lastname}" %>
    </p>

    <p>
      <strong>Coordinator Email:</strong>
      <%= @scout.user.email %>
    </p>

    <p>
      <strong>Date of Birth:</strong>
      <%= @scout.dob %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @scout.age %>
    </p>

    <p>
      <strong>Emergency Contact:</strong>
      <%= @scout.emergency_name %>
    </p>

    <p>
      <strong>Emergency Contact Relation:</strong>
      <%= @scout.emergency_relation %>
    </p>

    <p>
      <strong>Emergency Contact Phone:</strong>
      <%= @scout.emergency_phone %>
    </p>

    <p>
      <strong>Dining Hall Lunch:</strong>
      <% if @scout.scout_lunch %>
        Yes
      <% else %>
        No
      <% end %>
    </p>

    <p>
      <strong>Additional Dining Hall Lunches:</strong>
       <% if @scout.additional_lunch == 0 %>
        No
      <% else %>
        <%= @scout.additional_lunch %>
      <% end %>
    </p>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Class Requests 
      <%= link_to 'Edit Scout Information', edit_scout_path(@scout), class: "btn btn-xs btn-default pull-right" %> </h3>
  </div>
  <%= render 'shared/preferred_courses' %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Class Assignments</h3>
  </div>
  <%= render 'shared/assigned_courses' %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Total Cost of Attending MBU</h3>
  </div>
  <div class="panel-body">

    <table class="table table-condensed">
      <tr>
        <td>Registration Fee</td>
        <td><%= number_to_currency 15 %></td>
      </tr>
      <tr>
        <td>Scout Lunch Cost</td>
        <td>
          <%= number_to_currency 10 %>
        </td>
      </tr>
      <tr>
        <td>Additional Lunch Cost</td>
        <td><%= number_to_currency @scout.additional_lunch * 10 if @scout.additional_lunch %></td>
      </tr>
      <tr>
        <td>T-Shirt</td>
        <td><%= number_to_currency 10 if @scout.shirt %></td>
      </tr>
      <tr>
        <td>Patch</td>
        <td><%= number_to_currency 3 if @scout.patch %></td>
      </tr>
      </tr>
    </table>

    <table class="table table-condensed">
      <tr>
        <th>Course</th>
        <th>Course Cost</th>
      </tr>
      <% event = Event.where(current: true).last %>
      <% @scout.records.where(event:event).each do |record| %>
        <tr>
          <td><%= record.course.name %></td>
          <td><%= number_to_currency record.course.price %></td>
        </tr>
      <% end %>
    </table>

    <h4>Total: <%= number_to_currency @scout.cost %></h4>
  </div>
</div>

<div class="btn-group">
  <%= link_to 'Your Profile', @scout.user, class: "btn btn-md btn-default" %>
</div>