<% provide(:title, "Available Courses") %>
<% event = Event.where(current: true).last %>

<div class="page-header">
  <h1>
  <%= "Available Courses: #{event.semester} #{event.year}" %>  
  <% if current_user.admin? %>
  <%= link_to "Add a course", new_course_path, class: "btn btn-lg btn-default pull-right" %>
  <% end %>
  </h1>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Room</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>First Period</th>
        <th>Second Period</th>
        <th>Third Period</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.where(event_id: event.id).each do |course| %>
        <tr>
          <td><%= link_to course.name, course %></td>
          <td><%= course.description %></td>
          <td><%= course.room %></td>
          <td><%= number_to_currency(course.price) %></td>
          <td><%= course.capacity %></td>
          <td><%= course.first_period %></td>
          <td><%= course.second_period %></td>
          <td><%= course.third_period %></td>
          <% if current_user.admin? %>
          <td>
            <%= link_to 'Edit', edit_course_path(course) %>  
            <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
