<% provide(:title, "#{@course.name}") %>

<div class="page-header">
<h1>Details about <%= @course.name %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Course Name:</strong>
      <%= @course.name %>
    </p>

    <p>
      <strong>Course Description:</strong>
      <%= @course.description %>
    </p>

    <p>
      <strong>Room number:</strong>
      <%= @course.room %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= @course.price %>
    </p>
    <p>
      <strong>Capacity:</strong>
      <%= @course.capacity %>
    </p>

  </div>
</div>

<% if current_user.admin? %>
  <div class="panel panel-default">    
    <div class="panel-heading">
      <h3 class="panel-title">Period 1</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Troop</th>
            <th>Age</th>
            <th>Notes</th>
          </tr>
        </thead>

        <tbody>
          <% Record.all.each do |x| %>
            <% if x.course.name == @course.name && x.period == 1 &&
               !x.scout.nil? %>
              <tr>
                <td> <%= x.scout.firstname %> </td>
                <td> <%= x.scout.lastname %> </td>
                <td> <%= x.scout.troop %> </td>
                <td> <%= x.scout.age %> </td>
                <td> <%= x.scout.notes %> </td>
                <td> <%= link_to "Edit", edit_scout_path(x.scout) %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>

      </table>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Period 2</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Troop</th>
            <th>Age</th>
            <th>Notes</th>
          </tr>
        </thead>

        <tbody>
          <% Record.all.each do |x| %>
            <% if x.course.name == @course.name && x.period == 2 &&
               !x.scout.nil? %>
              <tr>
                <td> <%= x.scout.firstname %> </td>
                <td> <%= x.scout.lastname %> </td>
                <td> <%= x.scout.troop %> </td>
                <td> <%= x.scout.age %> </td>
                <td> <%= x.scout.notes %> </td>
                <td> <%= link_to "Edit", edit_scout_path(x.scout) %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>

      </table>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Period 3</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Troop</th>
            <th>Age</th>
            <th>Notes</th>
          </tr>
        </thead>

        <tbody>
          <% Record.all.each do |x| %>
            <% if x.course.name == @course.name && x.period == 3 &&
               !x.scout.nil? %>
              <tr>
                <td> <%= x.scout.firstname %> </td>
                <td> <%= x.scout.lastname %> </td>
                <td> <%= x.scout.troop %> </td>
                <td> <%= x.scout.age %> </td>
                <td> <%= x.scout.notes %> </td>
                <td> <%= link_to "Edit", edit_scout_path(x.scout) %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>

      </table>

    </div>
  </div>
<% end %>
